.small-icon {
  color: deeppink;
}

.logo-padding {
  padding-left: 20px;
}

.btn-x {
  color: orange;
  font-size: 18px;
}

.green-warning{
  color: green;
  font-weight: 900;
}

.ambar-warning{
  color: #ddb206;
  font-weight: 900;
}

.red-warning{
  color: red;
  font-weight: 900;
}

.grey-warning{
  color: #d3d3d3;
  font-weight: 900;
}
