.small-icon {
  color: deeppink;
}

.logo-padding {
  padding-left: 20px;
}

.btn-x {
  color: orange;
  font-size: 18px;
}

.green-warning{
  color: green;
}

.ambar-warning{
  color: yellow;
}

.red-warning{
  color: red;
}

.grey-warning{
  color: grey;
}
